@font-face {
    font-family: 'Clear Sans';
    src: url('ClearSans.ttf') format('truetype');
    src: url('ClearSans.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

:root {
    --background: rgb(18, 18, 19);
}

* {
    padding: 0;
    margin: 0;
    /* box-sizing: border-box; */
}

body {
    color: white;
    font-family: 'Clear Sans';
    background-color: var(--background);
}

h1 {
    font-family: 'Roboto Slab', Georgia, 'Times New Roman', Times, serif;
    font-size: 2.2rem;
    text-align: center;
    margin-bottom: 3px;
    transform: scaleX(.8);
}
#intro {
    position: fixed;
    width: 100%;
    /* z-index: 10; */
    top: 0px;
    background-color: var(--background);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.row {
    display: flex;
    flex-direction: row;
    margin: 0;
}

.tile {
    box-sizing: border-box;
    background-color: var(--background);
}


.tileText {
    font-weight: 900;
    text-align: center;
    transform: scaleY(.95);
    user-select: none;
}



#board {
    box-sizing: content-box;
    margin: auto;
    margin-top: 190px;
    width: 335px;
}


#keyboard {
    margin: auto;
    width: 50%;
    min-width: 420px;
    max-width: 500px;
    position:fixed;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);
}

.keyboardrow>div {
    border: 0;
    padding: 0;
    margin: 0 6px 0 0;
    height: 58px;
    border-radius: 4px;
    cursor: pointer;
    user-select: none;
    background-color: gray;
    color: white;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    font-weight: bold;
}

#spacer {
    width: 20px;
}

.keyboardrow {
    display: flex;
    margin: 0 auto 8px;
}

.bigger {
    min-width: 65px;
    font-size: 12px;
}