@font-face {
    font-family: 'Clear Sans';
    src: url('ClearSans.ttf') format('truetype');
    src: url('ClearSans.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

:root {
    --background: rgb(17, 17, 17);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    color: white;
    font-family: 'Clear Sans';
    background-color: var(--background);
}

h1 {
    font-family: 'Stint Ultra Condensed', 'Jomhuria', Georgia, 'Times New Roman', Times, serif;
    /* font-weight: normal; */
    font-size: 3rem;
    text-align: center;
    margin: 7px;
}
hr {
    border-bottom: none;
}

.row {
    display: flex;
    flex-direction: row;
    margin: 0;
}

.tile {
    /* display: flex;
    justify-content: center;
    align-content: center; */
    background-color: var(--background);
}


.tileText {
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
}

#board {
    margin: auto;
    margin-top: 100px;
    width: 330px;
}