@font-face {
    font-family: 'Clear Sans';
    src: url('ClearSans.ttf') format('truetype');
    src: url('ClearSans.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

:root {
    --background: rgb(17, 17, 17);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    color: white;
    font-family: 'Clear Sans';
    background-color: var(--background);
}

h1 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 3rem;
    text-align: center;
    margin: 20px;
}

.tile {
    display: flexbox;
    display: inline-block;
    background-color: var(--background);
}

.tileText {
    font-weight: bold;
    text-align: center;
    user-select: none;
    text-transform: uppercase;
}

#board {
    margin: auto;
    margin-top: 100px;
    width: 330px;
}